<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>C2 - Service Workers</title>
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='dashboard.css')}}" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico')}}"/>
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png')}}">
</head>

<body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow navbar-expand-lg">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Shadow Workers</a>

    <medium class="text-muted col-8 text-center" id="proxy-status-bar">Status: Not Proxying<br></medium>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item text-nowrap">
          <a class="nav-link h5" href="#" id="clear-proxy"> <i class="fas fa-unlink"></i> Clear Proxy</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#" data-overlay="open"><i class="fas fa-cogs fa-2x"></i></a>
        </li>
      </ul>
    </div>
    <div id="settingsOverlay" class="overlay">
      <a href="#" id="btnSettingsClose" class="closebtn">&times;</a>
      <img src="{{ url_for('static', filename='images/shadow-black.png')}}" class="img-fluid mx-auto d-block" />
        <div class=" overlay-content" id="genJS">
            <a href="#">Generate Javascript</a>
            <hr width="20%" style="border-color: red;">
            <button type="button" class="btn btn-info" id="genSW">Service Workers JS</button>
            <button type="button" class="btn btn-primary" id="genXSS">XSS Payload</button>
        </div>
        <br>
        <div class=" overlay-content" id="automodules_settings">
          <a href="#">Autoload Modules</a>
          <hr width="20%" style="border-color: red;">
        </div>
    </div>

  </nav>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Active Workers</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2" id="agents-sidebar">
          </ul>
          <hr />
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Dormant Workers</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <hr />
          <ul class="nav flex-column mb-2" id="dormant-agents-sidebar">
          </ul>
        </div>
      </nav>
      <div class="col-md-10 ml-sm-auto col-lg-10 px-4">
        <div class="row">
          <div class="col-md-12 ml-sm-auto col-lg-12 px-4" id="initial-main">
            <center class="main-center">Wait for agents to appear, then click them for details</center>
            <center>
              <p data-overlay="open">Open settings <i class="fas fa-cogs fa-2x"></i></p>
            </center>
          </div>
          <div class="col-md-12 ml-sm-auto col-lg-12 px-4" id="agents-main">
          </div>
        </div>
        <div class="row">
            <img src="{{ url_for('static', filename='images/shadow-black.png')}}" class="img-fluid mx-auto d-block" style="opacity:0.1;" />
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='jquery-3.3.1.js')}}"></script>
  <script src="{{ url_for('static', filename='popper.js')}}"></script>
  <script src="{{ url_for('static', filename='bootstrap-toggle/bootstrap-toggle.min.js')}}"></script>
  <link href="{{ url_for('static', filename='bootstrap-toggle/bootstrap-toggle.min.css')}}" rel="stylesheet" />
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='sw-dashboard.js')}}"></script>
  <script src="{{ url_for('static', filename='jquery-terminal/jquery.terminal.js')}}"></script>
  <link href="{{ url_for('static', filename='jquery-terminal/jquery.terminal.css')}}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='fontawesome/css/all.css')}}" rel="stylesheet" />

</body>

</html>